ship-select {
  ion-card {
    // height: 40% !important;
  }
  ion-card:hover {
    opacity: 0.7;
  }
  pointer-events: auto !important;
  ion-card-title {
    text-overflow: ellipsis !important;
  }
  .shipSVG {
    margin: 4%;
  }
  .shipWrap {
  }
  // height: 25% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
