<ion-card>
  <a [href]="'/ship/' + ship.id" (click)="goToShip($event, ship.id)">
    <ion-card-content>
      <div class="shipWrap" #wrapper>
      </div>
      <ion-row no-padding *ngIf="!demo">
        <ion-col col-12>
          <div class="weaponWrap">
            <img class="weaponIcon" [src]="'/assets/imgs/weapons/' + ship.secondaryWeapon + '.png'" [title]="ship.secondaryWeapon" />
            <img class="weaponIcon" [src]="'/assets/imgs/weapons/' + ship.primaryWeapon + '.png'" [title]="ship.primaryWeapon" />
          </div>
        </ion-col>
      </ion-row>

      <ion-card-title class="ellip" *ngIf="!demo">
        {{ ship.name ? ship.name : "Ship " + ship.id }}
      </ion-card-title>
      <ion-row no-padding *ngIf="!demo">
        <ion-col>
          <button ion-button clear small color="danger" icon-start title="ship.model">
            <!-- <ion-icon name='star'></ion-icon> -->
            Ship #{{ ship.id }}
          </button>
          <span *ngIf="ship.price">{{ ship.price / 1000000000000000000 }} Eth</span>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </a>
</ion-card>