page-home {
  .registration {
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .metamask {
    margin: auto;
  }

  .card-demo {
    max-width: 800px;
  }
  ion-card {
    box-shadow: none !important;
  }
}
