<ion-header #head>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<header-component></header-component>


<ion-content no-padding>
  <ion-grid class="contentRoom">
    <ion-spinner *ngIf="loading" class="abs-center">
    </ion-spinner>
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl">
    </ion-searchbar>
    <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
      <ion-item *ngFor="let ship of items" class="selectionList">
        <ion-thumbnail item-start>
          <img [src]="ship.img">
        </ion-thumbnail>
        <h2>{{ship.id}}</h2>
        <p>{{ship.name}}</p>
      </ion-item>
    </ion-list>
  </ion-grid>


  <footer-component></footer-component>
</ion-content>
