// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.scroll-content {
  display: flex !important;
  flex-direction: column !important;
  overflow-y: auto !important;
  // height: 66% !important;
}

.contentRoom {
  flex: 1 0 auto !important; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px !important;
}

.customToast {
  .toast-wrapper {
    left: auto !important;
    text-align: right !important;
    width: auto !important;
    border-top-left-radius: 8px !important;
  }
}

html {
  --primary-color: green;
  --secondary-color: yellow;
}

.stop-color1 {
  stop-color: purple !important;
}
