page-auctions {
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    ion-icon {
      padding: 10px;
      transition: 0.5;
    }
    span {
      text-align: center;
      min-width: 28px;
    }
  }
  ship-card {
    opacity: 0;
    animation: fadeIn 0.2s ease-in forwards;
  }
  .ships-row {
    max-width: 1600px;
    margin: auto;
  }
  
  @media (max-width: 767px) {
    .pagination {
      margin-top: 24px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}
