page-game {
  .chatbox {
    border-width: 2px !important;
    border-color: black;
    height: 100% !important;
    margin-bottom: 0px;
    margin-top: auto;
  }
  .username {
    font-weight: bold;
    color: black;
    text-decoration: none;
  } // ion-menu {
  //   ion-content {
  //     background-color: var(--background) !important;
  //     color: var(--text) !important;
  //   }
  // }
  // circle {
  //   stroke: var(--text) !important;
  // }
  .moveMenu {
    // transform: translate(50px);
  }
  ion-menu {
    transition: 1s !important;
    margin: 0;
    padding: 0;
    .scroll-content {
      margin: 0;
      width: 100% !important;
    }
  }
  .menu-inner {
    transition: 1s !important;
  }
  .chatbutton {
    // height: 100px;assets/imgs/logo.png
    height: 200px;
    width: 50px;
    z-index: 500;
    position: absolute;
    right: 0;
    top: 35%;
    background-image: url("../assets/imgs/chat-tab.png");
    z-index: 10 !important;
  }
  #gameContainer {}
  #gameContainer,
  .webgl-content,
  canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important; // z-index: 10000 !important;
  }
  .load-img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
  }
  .load-pink {
    transition: 1s;
    transform: translateZ(0); // clip-path: inset(0 24% 0 0);
  }
  .shipSelect {
    .contentRoom {
      padding: 8px;
      height: 94%;
      ion-grid {
        flex-direction: column !important;
        height: 100%;
      }
      ion-row {
        position: relative !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
      }
    }
    z-index: 222222222222222;
    background-color: grey;
    width: 90%;
    height: 90%;
    opacity: 0.9;
    border-radius: 20px;
    overflow: hidden;
  }
  .select-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    width: 100%;
    background-color: rgba(16, 16, 111, 0.638);
    height: 6%;
    border-radius: 0% 0% 20px 20px;
  }
  .ship-pagination {
    .ngx-pagination {
      padding: 0px !important;
    }
    margin: auto;
    color: var(--text) !important;
    a {
      color: var(--text) !important;
    }
  }
}
