page-game {
  .chatbox {
    border-width: 2px !important;
    border-color: black;
    height: 100% !important;
    margin-bottom: 0px;
    margin-top: auto;
  }
  .username {
    font-weight: bold;
  }
  .chatwrapper {
  }

  .moveMenu {
    transform: translate(50px);
  }
  ion-menu {
    transition: 1s !important;
    margin: 0;
    padding: 0;
    .scroll-content {
      margin: 0;
      width: 100% !important;
    }
  }
  .menu-inner {
    transition: 1s !important;
  }
  .chatbutton {
    // height: 100px;assets/imgs/logo.png
    height: 200px;
    width: 50px;
    z-index: 500;
    position: absolute;
    right: 0;
    top: 35%;
    background-image: url("../assets/imgs/chat-tab.png");
    z-index: 10 !important;
  }

  #gameContainer {
  }
  #gameContainer,
  .webgl-content,
  canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    // z-index: 10000 !important;
  }

  .load-img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
  }

  .load-pink {
    transition: 1s;
    transform: translateZ(0);
    // clip-path: inset(0 24% 0 0);
  }
}
